.container {
   background-image: url('../assets/recepcao.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 30rem;
}

#title {
   justify-content: left;
   display: flex;
   position: absolute;
   margin-left: 20px;
   margin-top: 15rem;
   font-size: 40px;
   color: #FFF;
}